<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227552046711-873149eq602i6247t48avjlbpci76sfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227552046711-873149eq602i6247t48avjlbpci76sfl</string>
	<key>API_KEY</key>
	<string>AIzaSyATnJ_aKF4WIpU05cYCq7zDyfxgqABYdrI</string>
	<key>GCM_SENDER_ID</key>
	<string>227552046711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.module04.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>piscine-mobile-04</string>
	<key>STORAGE_BUCKET</key>
	<string>piscine-mobile-04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227552046711:ios:cd7204423a0c71d6816072</string>
</dict>
</plist>